.container {
  background-color: aqua;
  display: flex;
  height: 100vh;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  padding: 20px;
  background-color: bisque;
  border-radius: 10px;
}

.authItems {
  margin-bottom: 20px;
}

.label {
  display: flex;
  flex-direction: column;
}

.error {
  color: darkred;
}
